@import "../../styles/variables";

.form__submit-button {
  background: $color_blue;
  border-radius: 8px;

  color: #FFF;
  cursor: pointer;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  height: 37px;
  line-height: 13px;
  padding: 12px 70px;
  text-align: center;
  width: 280px;
}

.link {
  color: $color_blue;
  cursor: pointer;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 11px;
  margin-top: 14px;
  padding-bottom: 10px;
  align-self: baseline;
  text-align: center;
}

.red {
  color: $color_red;
}