@import "../../styles/variables";

.input__containerStngs {
  border-bottom: 1px solid #EAEAEA;
  display: flex;
  height: 30px;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 100%;

  &:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
  }

  .inputStngs {
    &::placeholder {


      color: #999;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 13px;
      text-align: right;
    }
  }

  .labelStngs {

    color: #1E1E1E;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    height: fit-content;
    line-height: 13px;
    width: fit-content;
  }

  .hasError {
    border-bottom: 1px solid $color_red;
  }
}