extends ../../index.pug

block content
    div.screen
        div.screen__chats
            div.screen__chats-top
                div.screen__chats-link
                    a.screen__chats-profile-link(href='#') Профиль
                    img.screen__chats-profile-link-image(src='../../assets/images/right_arrow.svg' alt='Стрелка вправо')
                input.screen__chats-input(type='text')
                div.input-placeholder
                    img.input-placeholder__placeholder(src='../../assets/images/search.svg')
                    p.input-placeholder__text Поиск
                div.screen__chats-messages
                    div.message
                        img.message__avatar(src='../../assets/images/Ellipse.png', alt='Аватарка пользователя')
                        div.message__main
                            div.message__message
                                p.message__username Андрей
                                p.message__time 10:49
                            div.message__bottom
                                p.message__message-text Изображение
                                div.message__unread
                                    p.message__unread-text 2
                    div.message
                        img.message__avatar(src='../../assets/images/Ellipse.png', alt='Аватарка пользователя')
                        div.message__main
                            div.message__message
                                p.message__username Киноклуб
                                p.message__time 12:00
                            div.message__bottom
                                p.message__message-text #[span.span Вы:] стикер
                    div.message
                        img.message__avatar(src='../../assets/images/Ellipse.png', alt='Аватарка пользователя')
                        div.message__main
                            div.message__message
                                p.message__username Илья
                                p.message__time 15:12
                            div.message__bottom
                                p.message__message-text Друзья, у меня для вас особенный выпуск новостей!...
                                div.message__unread
                                    p.message__unread-text 4
                    div.message
                        img.message__avatar(src='../../assets/images/Ellipse.png', alt='Аватарка пользователя')
                        div.message__main
                            div.message__message
                                p.message__username Вадим
                                p.message__time Пт
                            div.message__bottom
                                p.message__message-text #[span.span Вы:] Круто!
                    div.message
                        img.message__avatar(src='../../assets/images/Ellipse.png', alt='Аватарка пользователя')
                        div.message__main
                            div.message__message
                                p.message__username тет-а-теты
                                p.message__time Ср
                            div.message__bottom
                                p.message__message-text И Human Interface Guidelines и Material Design рекомендуют...
                    div.message
                        img.message__avatar(src='../../assets/images/Ellipse.png', alt='Аватарка пользователя')
                        div.message__main
                            div.message__message
                                p.message__username 1, 2, 3
                                p.message__time Пн
                            div.message__bottom
                                p.message__message-text Миллионы россиян ежедневно проводят десятки часов свое...
                    div.message
                        img.message__avatar(src='../../assets/images/Ellipse.png', alt='Аватарка пользователя')
                        div.message__main
                            div.message__message
                                p.message__username Design Destroyer
                                p.message__time Пн
                            div.message__bottom
                                p.message__message-text В 2008 году художник Jon Rafman начал собирать...
                    div.message
                        img.message__avatar(src='../../assets/images/Ellipse.png', alt='Аватарка пользователя')
                        div.message__main
                            div.message__message
                                p.message__username Day.
                                p.message__time 1 Мая 2020
                            div.message__bottom
                                p.message__message-text Так увлёкся работой по курсу, что совсем забыл его анонсир...
                    div.message
                        img.message__avatar(src='../../assets/images/Ellipse.png', alt='Аватарка пользователя')
                        div.message__main
                            div.message__message
                                p.message__username Стас Рогозин
                                p.message__time 12 Апр 2020
                            div.message__bottom
                                p.message__message-text Можно или сегодня или завтра вечером.
        div.screen__chat
            div.screen__chat-user
                div.screen__chat-user-info
                    img.message__avatar(src='../../assets/images/Ellipse.png', alt='Аватарка пользователя')
                    p.screen__chat-user-username Вадим
                button.screen__chat-button
                    img.screen__chat-button-image(src='../../assets/images/additional.svg' alt='Дополнительно')
            div.screen__chat-input
                img.screen__chat-input-add(src='../../assets/images/add.svg' alt='Прикрепить')
                input.screen__chat-input-input(type='text' placeholder='Сообщение')
                img.screen__chat-input-send(src='../../assets/images/send.svg' alt='Отправить сообщение')



append scripts
    script(type="module", src="./chats.js")