extends ../../index.pug
include ../../components/settingsInput/settingsInput.pug

block content
    div.change
        div.change__avatar
        form.change__form
            +settingsInput('•••••••••', 'Старый пароль')(type='password', name='oldPassword', id='oldPassword', for='oldPassword')
            +settingsInput('•••••••••••', 'Новый пароль')(type='password', name='newPassword', id='newPassword', for='newPassword')
            +settingsInput('•••••••••••', 'Повторите новый пароль')(type='password', name='newPassword', id='newPassword', for='newPassword')
        button.change__button Сохранить
        div.change__push-back
            a.change__push-back-button(href='~static/index.pug')

append scripts
    script(type="module", src="./changePassword.ts")