@import "../../styles/variables";

.change {
  width: 510px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px auto 150px;

  &__button {
    width: 280px;
    height: 37px;
    margin-top: 60px;
    background: $color_blue;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    padding: 12px 0;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;

    color: #FFFFFF;
    transition: .3s;

    &:hover {
      opacity: .6;
    }
  }

  &__push-back {
    position: absolute;
    top: 0;
    left: 0;
    background: #FBFBFB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 65px;

    &-button {
      width: 28px;
      height: 28px;
      background-image: url("../../assets/images/push_back.svg");
      background-color: transparent;
      cursor: pointer;
      transition: .3s;

      &:hover {
        opacity: .6;
      }
    }
  }



  &__avatar {
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EFEFEF url("../../assets/images/blank_avatar.svg") no-repeat center;
    border-radius: 65px;
    margin-bottom: 97px;
  }

  &__form {
    width: 100%;
  }

  .input__container {
    width: 100%;
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 30px;
    padding-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
      border-bottom: none;
    }


    .input {


      &::placeholder {
        text-align: right;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;


        color: #999999;
      }
    }

    .label {
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;
      width: fit-content;
      height: fit-content;

      color: #1E1E1E;
    }
  }
}