extends ../../index.pug

block content
    div.overlay
        div.overlay__popup
            h2.overlay__title Загрузите файл
            label.overlay__label(for='avatar') Выбрать файл на компьютере
                input.overlay__input(type='file', name='avatar' id='avatar')
            button.overlay__button Поменять


append scripts
    script(type="module", src="./changeAvatar.ts")