extends ../../index.pug
include ../../components/settingsInput/settingsInput.pug

block content
    div.settings
        div.settings__avatar
        form.settings__form
            +settingsInput('pochta@yandex.ru', 'Почта')(type='email', name='email', id='email', for='email')
            +settingsInput('ivanivanov', 'Логин')(type='text', name='login', id='login', for='login')
            +settingsInput('Иван', 'Имя')(type='text', name='first_name', id='first_name', for='first_name')
            +settingsInput('Иванов', 'Фамилия')(type='text', name='second_name', id='second_name', for='second_name')
            +settingsInput('Иван', 'Имя в чате')(type='text', name='display_name', id='display_name', for='display_name')
            +settingsInput('+7 (909) 967 30 30', 'Телефон')(type='phone', name='phone', id='phone', for='phone')
        button.settings__button Сохранить
        div.settings__push-back
            a.settings__push-back-button(href='~static/index.pug')

append scripts
    script(type="module", src="./userSettings.ts")