extends ../../index.pug
include ../../components/input/input.pug

block content
    div.register-form
        div.register-form__container
            h2.register-form__title Регистрация
            +styledInput('Почта', 'Почта')(name='email', id='email', type='email', for='email')
            +styledInput('Логин', 'Логин')(name='login', id='login', type='text', for='login')
            +styledInput('Имя', 'Имя')(name='first_name', id='first_name', type='text', for='first_name')
            +styledInput('Фамилия', 'Фамилия')(name='second_name', id='second_name', type='text', for='second_name')
            +styledInput('Номер телефона', 'Номер телефона')(name='phone', id='phone', type='phone', for='phone')
            +styledInput('Пароль', 'Пароль')(name='password', id='password', type='password', for='password')
            +styledInput('Пароль', 'Пароль (ещё раз)', 'Пароли не совпадают')(name='password_confirm', id='password_confirm', type='password', for='password_confirm')
        div.buttons
            button.register-form__submit-button Зарегистрироваться
            a.register-form__link(href='~static/pages/login/login.pug') Войти
append scripts
    script(type="module", src="./register.js")